
/*color de fondo del proyecto*/
body {
 background-color: #0d2235;
}


html {
  box-sizing: border-box;

  /*10px === 1rem*/
  font-size: 62.5%;
}
*, *:before, *:after {
  box-sizing: inherit;
}

img{
  max-width: 100%;
}